body {
  background-color: black;
}

.navbar-light .navbar-brand {
  color: white;
}

.brand_d {
  color: #00a950;
}

.navbar-brand {
  font-size: 2.4rem;
  margin-left: 6.3rem;
  font-weight: bolder;
}

.navbar-light .navbar-brand:hover {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #00a950;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #f5ae66;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  color: white;
}

.navbar-light {
  background-color: black;
}

.btn-success {
  margin-right: 9%;
  height: 3rem;
  border-radius: 10px;
  width: 13rem;
  background-color: #00a950;
}

.main-content {
  margin: 10% 9%;
  color: white;
  width: fit-content;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
}

.main-content-green {
  color: #00a950;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.navbar {
  margin-top: 2%;
}

.navbar-nav {
  margin-left: 25%;
}

.nav-item {
  padding-right: 3.125rem;
}

.order-btn {
  width: 10rem;
}

.navbar-toggler-icon {
  background-color: white;
}

.burger-img {
  margin-top: -20%;
  height: 600px;
  width: 600px;
}

.mushroom1 {
  height: 150px;
  width: 200px;
  transform: rotate(120deg);
  position: relative;
  left: 900px;
  bottom: 210px;
}

.leaf1 {
  height: 150px;
  width: 320px;
  position: relative;
  bottom: 300px;
  right: 100px;
}

.leaf2 {
  height: 150px;
  width: 270px;
  position: relative;
  bottom: 550px;
  left: 440px;
  transform: rotate(110deg);
  z-index: -1;
}

.menu-btn {
  text-align: center;
}

span {
  /* font-size: 15px; */
  color: white;
}
a {
  text-decoration: none;
  /* color: #0062cc;
  border-bottom: 2px solid #0062cc; */
}
.box {
  padding: 60px 0px;
}

.box-part {
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px;
}
.text {
  margin: 20px 0px;
}

.fa {
  color: #4183d7;
}
