body {
  background-color: black;
}

.navbar-light .navbar-brand {
  color: white;
}

.brand_d {
  color: #00a950;
}

.navbar-brand {
  font-size: 2.4rem;
  margin-left: 6.3rem;
  font-weight: bolder;
}

.navbar-light .navbar-brand:hover {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #00a950;
}

.navbar-light .navbar-nav .nav-link.active {
  color: orange;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  color: white;
}

.navbar-light {
  background-color: black;
}

.btn-success {
  margin-right: 9%;
  height: 3rem;
  border-radius: 10px;
  width: 13rem;
  background-color: #00a950;
}

.main-content {
  color: white;
  width: fit-content;
  position: absolute;
  left: 7.1rem;
  top: 18rem;
}

.main-content-green {
  color: #00a950;
}

.navbar {
  margin-top: 2%;
}

.navbar-nav {
  margin-left: 25%;
}

.nav-item {
  padding-right: 3.125rem;
}

.order-btn {
  width: 10rem;
}
